body{
    background-color: rgb(165, 162, 162);
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(148, 78, 78, 0.479);
    opacity: 0.9;
    background-color: rgb(148, 78, 78);
    
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 19px;
}
nav img{
    width: 150px;
  border-radius: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}
nav a:hover{
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 5px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.37);
    border: 1 px solid rgba(0, 0, 0, 0.37);
    text-decoration: underline;
}
.cards{
    background-color: #C9B1BD;
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #0e0101;

}
.card img{
    width: 100%;
}

.card-content{
    padding: 35px;

}

.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-content h1{
    text-align: center;
    font-size: 25px;
}
.card h2{
    font-size: 15px;
    text-align: center;
}
.cards:hover{
    transform: scale(1.05);
    background-color: rgb(204, 216, 149);
}

footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(122, 110, 110);
     margin-top: 190px;
     border-radius: 10px;
}
@media (width<= 480px){
    nav a{
        flex-direction: column;
        align-items: center;
    }
   
}
